/* Fondo de pantalla de Login */
.bg-login {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                url('../img/pexels-soccer-field-2.jpg') center/cover no-repeat fixed;
    height: 100vh;
}

/* Estilo para los inputs del Login */
.bg-login .input-group-text {
    color: #6c757d;
}

.bg-login .form-control:focus {
    background-color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.15);
    border: 0;
}

/* El icono circular que ya usas en el Nav */
.brand-icon {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-dark {
    transition: all 0.3s ease;
    background-color: #fff;
}

.btn-outline-dark:hover {
    background-color: #f8f9fa;
    border-color: #ced4da;
    color: #212529;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.05) !important;
}
